node_modules
*.log
/log
Client/npm-debug.log*
Client/yarn-debug.log*
Client/yarn-error.log*
Client/pnpm-debug.log*
Client/lerna-debug.log*
**/.env
Client/node_modules
Client/dist
Client/dist-ssr
Client/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

**/venv
**/__pycache__

/backend/__pycache__
/backend/_pycache_
/backend/routers/__pycache__
/backend/schemas/__pycache__
/backend/utility/__pycache__
/backend/utility/federated/custom_models/__pycache__
/backend/stderr_output.txt
/backend/stdout_output.txt
/backend/updated_parameters.txt
/backend/local_parameters.txt
/backend/storage/*

/frontend/node_modules
/venv
/testenv
__pycache__
data
logs
.vscode
frontend/dist
**/.vercel
